/* General styles */

body{
    font-size: 20px;
    border: 1px solid black;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap:wrap;
}

/* Nav and header */

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: black;
    margin:0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;

}
#myName {
    font-size: 30px;
    padding-left: 30px;
    color: white;
    justify-content: left;
    margin-left: 0;

}
nav{
    margin: 0;
    
}
ul.nav{
    margin-right: 10px;
    min-width: 500px;
    height: 50px;
    align-content: center;
    display: flex;

}
li{
    display: inline-table;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 25px;
    color: white;
    padding: 10px 40px;
    margin: 0;

}
li:hover{
    background-color: gray;
    transition: background 0.5s ease-in-out;
}
a.nav{
    text-decoration: none;
    color: white;
}

/* Home */


/* Portofolio */
body.portfolio{
    display: flex;
    background-color: rgba(255, 255, 255, 0.918);
    background-image: url(../assets/images/leone-venter-VieM9BdZKFo-unsplash.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    /* background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1)); */

    
}

h1.titulo-proyectos{
    margin-top: 100px;
    margin-bottom: 0;
}


section.portfolio{
   height: auto;
   width: 100%;
   display: flex;
   /* border: 1px solid red; */
   justify-content: center;
   margin-top: auto;
   overflow: auto;
   height: 85vh;
}
div.portfolio-paginas{
    min-height: 500px;
    height: auto;
    width: 940px;
    /* border: 1px solid blue; */
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    position: relative;
}
div.portfolio-item{
    height: 30%;
    width: 45%;
    /* border: black solid 1px; */
    padding: 3px;
    margin: 32px;
    width: 400px;
    height: 210px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
@media (max-width: 800px){
    div.portfolio-item{
        width: 300px;
        height: 190px;
    }
}
div.portfolio-item img{
    max-width: 100%;
    max-height: 100%;
    
}
div.portfolio-item:hover img {
    opacity: 0.3;
    transition: .5s ease;
  }
div.portfolio-item:hover{
    transition: .5s ease;
    margin-top: 20px;
  }
div.portfolio-item:hover div.texto {
    opacity: 1;
    transition: .5s ease;
  }
div.texto{
    color: black;
    font-size: 15px;
    position:absolute;
    align-self: center;
    bottom: 30px;
    opacity: 0;
    font-weight: 700;
}
span img{
    width: 100px;
}
section.video{
    position: flex ;
    /* border: 1px solid purple; */
    text-align: left;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;

}
video{
    position: inherit;
}

/* Contacto */

form{
    margin-left: 40px;
    margin-top: 100px;
}
fieldset{
    margin-top: 100px;
}

/* W3 schools degradado template
.container {
    width: 75%;
    display: flex;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 400px;
    height: auto;
    transition: .5s ease;
   backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }  */