/* General styles */

body{
    font-size: 20px;
    /* border: 1px solid black; */
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
body.portfolio{
    background-color: rgba(255, 255, 255, 0.918);
    background-image: url(../assets/images/leone-venter-VieM9BdZKFo-unsplash.jpg);
    background-size: 2000px;
    background-repeat:no-repeat;
}

/* Nav and header */

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: black;
    margin:0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;

}
#myName {
    font-size: 30px;
    padding-left: 30px;
    color: white;
    justify-content: left;
    margin-left: 0;
    font-family: 'Mukta', sans-serif;

}
nav{
    margin: 0;
    
}
ul.nav{
    margin-right: 10px;
    min-width: 500px;
    height: 50px;
    align-content: center;
    display: flex;

}
li{
    display: inline-table;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 25px;
    color: white;
    padding: 10px 40px;
    margin: 0;
}
li.active{
    background-image: gray;
}
li:hover{
    background-color: gray;
    transition: background 0.5s ease-in;
}

a.nav{
    text-decoration: none;
    color: white;
}


/* Home */
body.home{
    background-image: url(/assets/images/shapelined-_JBKdviweXI-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
main.home{
    display: flex;
    margin-top: 100px;
    height: 80vh;
    width: 100%;
    /* border: 1px solid red; */
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
}
li.item-home{
    justify-self: left;
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border-bottom: black 5px solid;
    padding-bottom: 0;
    font-size: 50px;
    transition: 0.5s ease;
}
li.item-home:hover{
    width: 400px;
    font-size: 100px;    
}
li.item-home a{
    text-decoration: none;
    color: black;
}
div.img-home{
    /* border: 1px solid blue; */
    align-self: flex-end;
    justify-self: flex-end;
    height: 700px;
    width: 500px;
    margin-right: 25%;
}
div.img-home img{
    position: absolute;
    height: 700px;
    width: auto;
    margin:0;
    padding: 0;
}
div.listado-home{
    width: 100px;
    height: 400px;
    /* border: 1px solid green; */
    height: auto;
    display: flex;
    align-content: center;
    align-self: center;
}
/* Biografia */
main.biografia{
    display: flex;
    height: 80vh;
    width: auto;
    /* border: 1px green solid; */
    margin: 100px 10px 10px 10px;
    flex-wrap: wrap;
    background-image: url(/assets/images/kupono-kuwamura-LzgK6IMoSZM-unsplash.jpg);
    border-radius: 5px;
}
section.titulo{
    /* border: 1px solid red; */
    width: 100%;
    height: 10%;
    margin-left: 40px;
    font-size: 50px;
}
section.info{
    /* border: 1px solid blue; */
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    columns: 2;
    justify-content: center;
    align-content: flex-start;
}
section.info div.biografia-img{
    /* border: 1px dotted blue; */
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
}
section.info div.biografia-txt{
    /* border: 1px dotted red; */
    height: 30%;
    width: 50%;
    text-align:left;
    align-self: flex-start;
    font-size: 22px;
    font-weight: 300;   
}
div.biografia-img img{
    width: auto;
    height: 50%;
    align-self: center;
    border-radius: 40%;
    border: 5px solid black;
    padding: 5px;
}

   

/* Portofolio */
h1.titulo-proyectos{
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    /* border: 1px solid red; */
}
section{
    width: 100vh;
}


section.portfolio{
   height: auto;
   width: 100%;
   display: flex;
   /* border: 1px solid red; */
   justify-content: center;
   margin-top: auto;
   overflow: auto;
   height: 73vh;
}
div.portfolio-paginas{
    /* min-height: 500px; */
    height: auto;
    width: 85%;
    /* border: 1px solid blue; */
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    text-align: space-between;
    justify-content: space-around;
    position: relative;
    column-count: 2;
}
div.portfolio-item{
    width: 550px;
    height: auto;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
div.portfolio-arrow{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#transition-portfolio{
    scroll-behavior: smooth;
}
@media (max-width: 1315px){
    div.portfolio-item{
        width: 400px;
        height: auto;
        column-count: 1;
        margin-top: 10px;
        transition: 0.5s ease-in;
    }
}
div.portfolio-item img{
    max-width: 100%;
    max-height: 100%;
    transition: 0.5s ease-out;
    
}
div.portfolio-item:hover img {
    opacity: 0.3;
    transition: .5s ease;
  }
div.portfolio-item:hover{
    transition: .5s ease;
    margin-top: 20px;
  }
div.portfolio-item:hover div.texto {
    opacity: 1;
    transition: .5s ease;
  }
div.texto{
    color: black;
    font-size: 15px;
    position:absolute;
    align-self: center;
    bottom: 30px;
    opacity: 0;
    font-weight: 700;
}
span img{
    width: 100px;
}
section.video{
    /* border: 1px solid purple; */
    color: white;
    background-image: url(/assets/images/pexels-adrien-olichon-2387793.jpg);
    background-size:cover;
    width: 100%;
    height: 90vh;
    padding-top: 25px;
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    
}
section.video video{
    align-self: center;
    justify-self: center;
    margin-top: 100px;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px;
}

/* Contacto */

main.contacto{
    display: flex;
    /* border: 1px solid green; */
    margin-top: 150px;
    align-items: center;
    /* justify-content: space-between; */
    height: 70vh;
    margin-left: 10px;
}

form{
    width: 85%;
    position: relative;
    z-index: 999;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-weight: 600;
    letter-spacing: 1px;
}
fieldset{
    margin-top: 100px;
}
input[type=text]{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 75%;
}
div.form-img {  
    z-index: 0;
    position:absolute

}
div.form-img img{
    height: 400px;
    width: auto;
    opacity: 30%;
}
textarea{
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
}
textarea:focus {
    width: 75%;
    transition: width 0.4s ease-in-out;
}
input[type=submit] {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}
input[type=submit]:hover{
    background-color: rgba(83, 78, 78, 0.842);
    padding-bottom: 5px;
    padding-left:5px;
    transition: 0.5s ease;
}



/* W3 schools degradado template
.container {
    width: 75%;
    display: flex;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 400px;
    height: auto;
    transition: .5s ease;
   backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }  */